python/__pychache__
.DS_Store
python/classes_methods/__pycache__
python/classes_methods/__pycache__/*pyc
# virtual environments
python/crirestool
python/venv
python/.DS_Store
python/Plots
python/csv_files
python/picklefiles
python/*files/*processed*
python/Transit_List.log
python/output1.json
etc_cli_examples
